<mat-card>
  <h1>Login</h1>
  <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()">  
      <div>
          <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="text" placeholder = "you@you.com" [(ngModel)] = email name=email required>
              <mat-error *ngIf="loginForm.hasError">Please enter your email</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="text" placeholder = "XXXXXXX" [(ngModel)] = password name=password required>
              <mat-error *ngIf="loginForm.hasError">Please enter your password</mat-error>
          </mat-form-field>
            <div>
                <br>
              <button [disabled] = "!loginForm.form.valid" type = "submit" mat-raised-button color="primary">Login</button>
            </div>
      </div>
  </form>
</mat-card>



