<mat-card>
    <h1>Add student</h1>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="payed tuition?write true/false"
                [(ngModel)] = "name"
                name = "enter yes or no">
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="write grade in mathe, 0-100"
                    [(ngModel)] = "years"
                    name = "grade in mathe between 0-100">
        </mat-form-field>
      </p>  
      <p>
        <mat-form-field>
                <input 
                    matInput placeholder="write grade in psycho, 0-800"
                    [(ngModel)] = "income"
                    name = "grade in psycho between 0-800">
        </mat-form-field>
      </p>                       
        <div >
            <button mat-raised-button (click) = "updateParent()" >{{buttonText}}</button>
            <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
